<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.ourmusic.plugin"
  version="0.0.1">
    <name>OurMusicPlugin</name>
    <description>OurMusic Cordova plugin to provide native access to Spotify Android SDK</description>
    <author>Guilherme Xibaca, Danilo Pimentxenha and Uian Sol</author>
    <license>Apache 2.0</license>
    <keywords>ourmusic,cordova,plugin</keywords>
    <repo>https://github.com/guilhermesgb/ourmusic-plugin.git</repo>
    <engines>
      <engine name="cordova" version=">=3.4.0"/>
    </engines>
    <js-module src="www/ourmusic-plugin.js" name="OurMusicPlugin">
      <clobbers target="OurMusicPlugin" />
    </js-module>
    <platform name="android">
      <resource-file src="res/layout/com_ourmusic_plugin_activity_login.xml" target="res/layout/com_ourmusic_plugin_activity_login.xml"/>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="OurMusicPlugin">
          <param name="android-package" value="com.ourmusic.plugin.OurMusicPlugin"/>
          <param name="onload" value="true"/>
        </feature>
        <access origin="*"/>
        <access origin="ourmusic://*" launch-external="yes"/>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-sdk
          android:minSdkVersion="14"
          android:targetSdkVersion="21" />
        <application android:allowBackup="true" />
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name="com.ourmusic.plugin.LoginActivity" android:label="@string/app_name">
        </activity>
        <activity android:name="com.spotify.sdk.android.authentication.LoginActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
      </config-file>
      <source-file src="src/android/OurMusicPlugin.java" target-dir="src/com/ourmusic/plugin"/>
      <source-file src="src/android/LoginActivity.java" target-dir="src/com/ourmusic/plugin"/>
      <framework src="spotify-sdk-android/auth" custom="true"/>
      <framework src="spotify-sdk-android/player" custom="true"/>
      <preference name="AndroidLaunchMode" value="standard"/>
    </platform>
</plugin>
