<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.ourmusic.plugin"
  version="0.0.1">
    <name>ourmusic-plugin</name>
    <description>OurMusic Plugin</description>
    <license>Apache 2.0</license>
    <keywords>ourmusic,plugin</keywords>
    <js-module src="www/ourmusic-plugin.js" name="ourmusic-plugin">
        <clobbers target="ourmusic-plugin" />
    </js-module>
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="OurMusicPlugin">
          <param name="android-package" value="com.ourmusic.plugin.OurMusicPlugin"/>
          <param name="onload" value="true"/>
        </feature>
      </config-file>
      <source-file src="app/src/main/java/com/ourmusic/plugin/OurMusicPlugin.java" target-dir="src/com/ourmusic/plugin"/>
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name="com.ourmusic.plugin.LoginActivity" android:label="@string/app_name">
          <intent-filter>
          </intent-filter>
        </activity>
      </config-file>
      <source-file src="app/src/main/java/com/ourmusic/plugin/LoginActivity.java" target-dir="src/com/ourmusic/plugin"/>
      <framework src="app/libs" custom="true" />
    </platform>
</plugin>
